<%- include('../../layouts/default.ejs') %>
  <%- include('../../mixins/box-head.ejs') %>

    <div class="container my-3">
      <div class="row">
        <div class="col-12">
          <%- boxHead("Thông tin tài khoản") %>
        </div>
      </div>
      <div>
        <%= infoUser %>
      </div>
    </div>