<% function search(objSearch) { %>
  <form form-search>
    <div class="input-group">
      <input type="text" placeholder="Nhập từ khóa" name="keyword" class="form-control"
        value="<%= objSearch.keyword %>" />
      <div class="input-group-append">
        <button class="btn btn-success" type="submit">Tìm</button>
      </div>
    </div>
  </form>
  }