extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")
    .row
      .col-12 
        .chat(my-id=user.id)
          .inner-body
            each chat in chats
              div(class=(user.id == chat.infoUser.id ? "inner-outgoing" : "inner-incoming"))
                if(user.id != chat.infoUser.id)
                  .inner-name #{chat.infoUser.fullName}
                if(chat.content)
                  .inner-content
                    | #{chat.content}
                if(chat.images)
                  .inner-images
                    each image in chat.images
                      img(src=image)

            //- .inner-outgoing
            //-   .inner-content abc xyz 

            //- .inner-outgoing
            //-   .inner-content abc xyz 
            //- .inner-coming
            //-   .inner-name Abc 
            //-   .inner-content abc xyz 
          .inner-foot
            form(action="" class="inner-form") 
              input(type="text" name="content")
              button 
                i.fa-solid.fa-paper-plane
